{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!--================ Start Header Area =================-->
	{% include 'partials/menu.html' %}
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="text-uppercase">Olá</h3>
							<h1 class="text-uppercase">Eu sou Silvio</h1>
							<h5 class="text-uppercase">Engenheiro de Produção, Contador e entusiasta da Programação.</h5>
							<div class="d-flex align-items-center">
								<a class="primary_btn" href="https://www.linkedin.com/in/silvioturati/"><span>Me Contrate!</span></a>
								<a class="primary_btn tr-bg" href="{% static 'docs/Silvio-Turati-Eng.pdf' %}"><span>Veja meu CV</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="{% static 'img/banner/home-right.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{% static 'img/about-us.png' %}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>Deixa <br>
							me apresentar!<br>
							</h2>
							
						<p>
							Trabalho como administrador de empresas há mais de 20 anos.
							Mas já participei do desenvolvimento de sistemas,
							Já participei de implantação de sistemas,
							E continuo estudando novas linguagens.
						</p>
						<p>
							Sou formado em Ciências da Computação, Engenharia da Produção e Contabilidade.
							Trabalho com finanças, custos e recursos humanos e estudo linguagens para automatizar
							tarefas e criar sistemas web!
						</p>
						<a class="primary_btn" href="{% static 'docs/Silvio-Turati-Eng.pdf' %}"><span>Baixar meu CV</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->
	
	<!--================Start Portfolio Area =================-->

	<!--================End Portfolio Area =================-->

	<!--================ Start Features Area =================-->
	<!--<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Serviços Oferecidos</h2>
						<p>
							Is give may shall likeness made yielding spirit a itself togeth created 
							after sea <br> is in beast beginning signs open god you're gathering ithe
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s1.png' %}" alt="">
						<h4>Wp developing</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s2.png' %}" alt="">
						<h4>UI/ux design</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s3.png' %}" alt="">
						<h4>Web design</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="{% static 'img/services/s4.png' %}" alt="">
						<h4>seo optimize</h4>
						<p>Creeping for female light years that lesser can't evening heaven isn't bearing tree</p>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!--================ End Features Area =================-->

	<!--================Footer Area =================-->
	{% include 'partials/footer.html' %}
	<!--================End Footer Area =================-->

{% endblock %}